<div class="image-beer">
    <img src= 'images/beer.png'>    
</div>
<div class="btn-class">
    <button class="btn btn-dark"><a href="/beers">Check the beers</a></button>
    <button class="btn btn-dark"><a href="/random-beer">Check a random Beer</a></button>
</div>